/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	background-color: #1D8385;
 	font-family: 'Indie Flower', cursive;
 }

 .info{
 	margin: 10% 0 0 12%;
 	width: 800px;
 	border: 1px solid black;
 	padding: 100px;
 	background-color: black;
 	box-shadow: inset 10px 10px 100px white;
 	border-radius: 50px;
 	color: #1DF0F0;
 }
 
 .picdisplay{
 	margin: 0 0 0 12%;
 	width: 800px;
 	border: 1px solid black;
 	padding: 50px;
 	background-color: black;
 	box-shadow: inset 10px 10px 100px white;
 	border-radius: 50px;
 	color: #1DF0F0;
 }

 .notice{
 	display: inline-block;
 }

.new_request{
	width: 700px;

	margin-left: 200px;
}

 h1{
 	margin:50px 0 30px 150px;
 	display: inline-block;
 	font-size: 50px;
 	text-shadow: 1px 1px 10px;
 }

.image{
	margin-left: 20%;
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	height: 500px;
	width: 500px;
	display: inline-block;
	box-shadow: 1px 1px 10px white;
	border-radius: 10px;
}

.field input{
	border-radius: 10px;
	box-shadow: 1px 1px 10px white;
}

.searchbutton input{
	font-weight: bold;
	border-radius: 10px;
	background: #1DF0F0;
	box-shadow: inset 1px 1px 5px black;
}